<!DOCTYPE html>
<html>
<head>
<title>Globomantics</title>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"/>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
 <link href="css/style-home.css" rel="stylesheet">
<link rel="shortcut icon" type="image/x-icon" href="images/G.png"/>

<style>
  body {
      font-family: Arial, sans-serif;
      padding: 20px;
      margin: 0;
  }
  .container {
      margin-bottom: 20px;
  }
/* Main container to align left and right sections */


.main-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.left-section {
    flex: 1;
}
.right-section {
    flex: 1;
}
    

  .filteredList {
    max-height: 150px; 
  }
  .item-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      overflow-y: auto;
      border: 1px solid #ddd;
      border-radius: 4px;
  }
  .item-list li {
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #eee;
  }
  .item-list li:last-child {
      border-bottom: none;
  }
  .added-list {
      margin-top: 20px;
  }

  .name-container {
    flex: 2;
    text-align: left;
}
.add-remove-button {
    flex: 0.5;
    margin-left: 10px;
    padding: 0px;
    background-color: #ccc;
    border-radius: 5px;
}
.reset-button {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #ccc;
    border-radius: 5px;
}
.points-container {
    flex: 1;
    text-align: center;
}

input[type="text"] {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

.image-section {
    position: relative;
    background-image: url('images/hero image.png'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fixes the background while text scrolls */
    padding: 20px;
    min-height: 100vh;
    color: #eee;
}
</style>
</head>

<body>

  <div class="image-section">
        <h1>FANTASY FOOTBALL<br> <span>POINTS FOR EACH PLAYER</span>.</h1>
        <p>v0.1</p>      
	<!-- <div class="container jumboContainer"> -->

    <div class="main-container">

      <div class="left-section">
        <div class="teams-list">
          <h2>Teams list (not including assistant manager points)</h3>
          <ul id="teamsList" class="item-list"></ul>
        </div>
      </div>
    
      <div class="right-section">
      </div>

    </div> 

<!-- WARNING: the manager names below need to match the manager names that the database is instantiated with below -->
    <%
    managers = ["David", "Caleb", "Ben", "Benjie & Luka", "Martin", "Ruth", "Josh", "Mark", "Paul", "Emma", "Matt", "Danny"];
    managers.map(manager=>{
      %>
      


    <div class="main-container">

      <div class="left-section">
        <div class="added-list">
          <h3><%=manager%></h3>
          <button class="reset-button" type="button" onclick="reset('<%=manager%>')">Reset to default team</button>
          <ul id="addedItemsList-<%=manager%>" class="item-list"></ul>
        </div>
      </div>
    
      <div class="right-section">
        <div class="container">
          <input type="text" id="searchBar-<%=manager%>" style="color: black" placeholder="Search..." oninput="filterList('<%=manager%>')">
        </div>
        <ul id="filteredList-<%=manager%>" class="item-list filteredList"></ul>
      </div>

    </div> 
  
  <%
  })
  %>



  
  <!-- </div> -->
  </div>


  <script type="module" src="/my-scripts/index-functions.js"></script>

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script>
jQuery(document).ready(function(){

 // alert("wow");
  //  jQuery("header").addClass("fixed");
  jQuery("#hamburger").click(function(){
		//alert("The paragraph was clicked.");
		jQuery("header").toggleClass("fixed");
	});


});

// (async () => {
// })();

</script>

</body>
</html>